.Catolico {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../Assets/Sobre_Catolico.png");
  background-attachment: fixed;  
  z-index: 1;
  background-size: cover;
  background-position: center;

   
  &_Glass {
    height: 80%;
    width: 80%;
    //  -- GlassMorphism --  //
    background-color: #2c2c2c6f;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: 1.25rem 1.25rem 100px 0px #f2f2f21f;
  
    
    &__Top {
      height: 20%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &-Tittle {
        font-weight: bold; 
        font-size: 3.25rem;
        color: #f2f2f2;      
      }
    }
    .CatolicoList {
      display: flex;
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      &_Item {
        width: 40%;
        height: 40%;
        border: 0.5rem solid #f2f2f2;
        border-radius: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        
        &__Icon {
          width: 4rem;
          height: 4rem;
          & > * {  color: #f2f2f2  };
        }
        &__Text {
          font-size: 1.5rem;
          color: #f2f2f2;
          width: 70%;
        }

        &:hover {
          transform: scale(1.05);
          cursor: pointer;
          box-shadow: 0.5rem 0.5rem 1rem #f2f2f2;
          background-color: #2c2c2c9f;
        }
      }
    }
  }
}
