.Mais {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #e0e0e0;
  flex-direction: column;

  &_Main {
    height: 80%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    &__Text {
      text-align: center;
      font-size: 3.25rem;
    }
  }
  &_Bot {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  

    &__Frase {
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
    }
    &__Autor {
      font-size: 1.625rem;
    }
  }
}
