.Start {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../Assets/Home_Start__Background.png");
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    flex-direction: column;

    * {  background: none;  }
    &_Block {
        height: 15%;
        width: 100%;
    }
    &_Texts {
        height: 85%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;


        &__Tittle {
            font-size: 4rem;
            font-weight: bold;
        }
        &__Parag {
            font-size: 1.5rem;
            font-weight: lighter;
        }
    }
}