.Start {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../Assets/Home_Start__Background.png");
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    background-position: center;
    flex-direction: column;

    * {  background: none;  }
    &_Block {
        height: 15%;
        width: 100%;
    }
    &_Texts {
        height: 85%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;


        &__Tittle {
            font-size: 5.25rem;
            font-weight: bold;
            text-align: center;
        }
        &__Parag {
            font-size: 2.25rem;
            font-weight: lighter;
            text-align: center;
        }
    }
}



/*  Responsividade dos itens do compoente Start  */
@media screen and (  max-width: 1280px  ) {
  .Start {
    &_Block {
      height: 12.5%;
    }
    &_Texts {
      &__Tittle {
        font-size: 4.5rem;
      }
      &__Parag  {
        font-size: 1.75rem;
      }
    }
  }
}


@media screen and (  max-width: 1024px  ) {
  .Start {
    &_Block {  height: 0%;  }
    &_Texts {
      justify-content: center;


      &__Tittle, &__Parag {  color: #e0e0e0;  }
      
    }
  }
}


@media screen and (  max-width: 768px  ) {
  .Start {
    &_Block {
      height: 0;
    }
    &_Texts {
      height: 100%;
    }
  }
}


@media screen and (max-width: 480px  ) {

}
