//  -- Slick Details --  //
.slick-arrow {
  width: 10vw !important;
  height: 10vh !important;
  z-index: 1 !important;
}
.slick-next {  right: 0 !important;  }
.slick-prev {  left: 0 !important;  }

.slick-list {
  height: 100% !important;
  width: 100% !important;
}
.slick-track {
  height: 100% !important;
  overflow-y: hidden !important;
}
.slick-slide div {
  height: 100% !important;
}
.slick-dots {
  bottom: 0px !important;
  & li {  overflow-y: hidden !important;  }
  & li button {  overflow-y: hidden !important;  }
  & li button:before, & li button {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 10px;
    overflow-y: hidden !important;
  }
  & li.active button {  color: #FAFAFB !important;  }
}


.Carrosel {
    height: 80%;
    width: 100%;

    &_Slide {
        height: 95%;
        width: 100%;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
    }
}
