.Section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;


  &_Glass {
    height: 80%;
    width:  80%;
    background-color: #0f0;
    //  -- GlassMorphism --  //
    background-color: #2c2c2c6f;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: 1.25rem 1.25rem 100px 0px #f2f2f25f;
    //border: 0.5rem solid #e0e0e0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


    &__Titulo {
      font-size: 3.25rem;
      color :#f2f2f2;
      font-weight: bold;
      text-align: center;
    }
    &__Texto {
      font-weight: bold;
      color: #f2f2f2;
      font-size: 2.25rem;
      width: 60%;
      text-align: center;

      &-Link {
        color: #f2f2f2;
        
        &:hover {
          font-size: 2.35rem;
          color: #2AA6A2;
          font-weight: bold;
        }
      }
    }

  }
}
