.BlankSection {
  height: 150vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2c2c2c;

  .Form {
    border-radius: 2rem;
    border: 0.5rem solid #f2f2f2;
    height: 70%;
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &_Top {
      height: 30%;
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    
      &__Tittle {
        color: #f2f2f2;
        font-size: 3.25rem;
      }
    }
  }
}
