.Inicio {
  height: 100vh; 
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  &_Area {
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__Tittle {
      font-weight: bold; 
      font-size: 3.25rem;
      
    }
    &__Icon {
      margin-right: 2rem;
      width: 6rem;
      height: 6rem;
    }
  }
  &_Text {
    width: 80%;
    height: 60%;
    text-align: center;
    font-size: 1.75rem;
    line-height: 3.25rem;
  }
}
