.Conheca {
  width: 100vw;
  height: 200vh;
  background-image: url("../../../Assets/Home_ConhecaBg.png"); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  /*
  &_Glass {
    height: 60%;
    width: 60%;
    background-color: #2c2c2c9f;
    border-radius: 1rem;
    backdrop-filter: blur(3px);
    box-shadow: 1rem 1rem 100px 0px #f2f2f25f;
    border: 0.5rem solid #e0e0e0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;



    &__Titulo {
      font-size: 3.25rem;
      color :#f2f2f2;
      font-weight: bold;
      text-align: center;
    }
    &__Texto {
      font-weight: bold;
      color: #f2f2f2;
      font-size: 2.25rem;
      width: 60%;
      text-align: center;

      &-Link {
        color: #2AA6A2;
        font-weight: bold;
      }
    }
    
  }*/
}



/*
@media screen and (  max-width: 1280px  ) {
  .Conheca {
    &_Glass {
      &__Titulo {  font-size: 2.25rem;  }
      &__Texto  {  font-size: 1.75rem;  }
    }
  }
}



@media screen and (  max-width: 1024px  ) {
  .Conheca {
    &_Glass {  width: 75%;  }  
  }
}
*/
