.Ramos {
    height: 70%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    &_Tittle {
        font-size: 3.25rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &_List {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;


        &__Ramo {
            width: 20%;
            height: 50%;
            display: flex;
            flex-direction: column;
            background-color: #f2f2f2;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            border: 5px solid #2c2c2c; 

            &-Figure {
                height: 70%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                  
                &--Img {
                    height: 70%;
                } 
                &--Age {
                  font-size: 1.325rem;
                  color: #f2f2f2;
                  height: 20%;
                }
            }
            &-Figure#Lobinho    {  background-color: #F1C40F;  }
            &-Figure#Escoteiro  {  background-color: #2AA6A2;  }
            &-Figure#Senior     {  background-color: #7B3FA1;  }
            &-Figure#Pioneiro   {  background-color: #D6301A;  }

            &-Section {
                height: 30%;
                width: 100%;
                border-top: 5px solid #2c2c2c;
                display: flex;
                justify-content: space-around;
                align-items: center;

                &--Text  {
                  font-weight: bold;
                  font-size: 1.75rem;
                }
            }
          &:hover {
            transform: scale(1.1)
          }
        }
    }
}



@media screen and (  max-width: 1280px  ) {
  .Ramos {
    &_Tittle {  font-size: 2.5rem;  }
    &_List__Ramo-Section--Text {  font-size: 1.25rem;  }
  }
}



@media screen and (  max-width: 1024px  ) {
  .Ramos {
    &_List {
      flex-wrap: wrap;

      &__Ramo {

        width: 40%;
        height: 40%;
      }
    }
  }
}
