/*  -- Fonte Normal --  */
@font-face {
  font-family: Novarse-Book;
  src: url("./Novarese-Book.ttf");
}
/*  -- Fonte Bold --  */
@font-face {
  font-family: 'ITC Novarese Std';
  src: url("./itc-novarese-std-bold.otf");
}




:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  line-height: 1.5;
  font-weight: 400;
  color: #2C2C2C;
  border: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Novarse-Book, 'ITC Novarese Std', Helvetica, system-ui;
  transition: 300ms all;
}
main>section, body {
    background-color: #E0E0E0;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5 {  font-family: 'ITC Novarese Std', Novarse-Book;  }
