$verde: #B4CF55;
$preto: #2B3F6E;
$branco: #F6F9EB;
$azul: #5D93CC;
$b-claro: #FBFDF7;





.card {
  cursor: pointer;


  &:hover {
    background-color: $b-claro;
    transform: scale(1.025);
    box-shadow: 10px 10px 0px 0px $preto;

    @media (max-width: 640px) {
      box-shadow: none;
    }
  }
}


.borderButton {
  border: 5px solid $azul;
  cursor: pointer;
  transition: 150ms all;

  &:hover {
    background-color: $azul;
    transform: scale(1.075);
    color: $b-claro;
    box-shadow: 5px 5px $preto;
  }
}