@import url('https://fonts.cdnfonts.com/css/arca-majora-3');

* {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border: 0;
  transition: 150ms all;

  /* Remove blue border on mobile */
  -webkit-tap-highlight-color: transparent;
  outline: none;

  font-family: 'Arca Majora 3';
}





@tailwind base;
@tailwind components;
@tailwind utilities;