.Resumo {
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    &_Tittle {
        font-size: 3.25rem;
        font-weight: bold;
    }
    &_Text {
        text-align: center;
        font-size: 1.75rem;
    }
    &_Link {
      color: #2c2c2c;

      &:hover {  
        font-size: 1.85rem;
        color: #2AA6A2; 
      }
    }
}



@media screen and (  max-width: 1280px  ) {
  .Resumo {
    &_Tittle  {  font-size: 2.5rem;  }
    &_Text    {  font-size: 1.5rem;  }
  }
}
